@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
html{
  height: 100%;
}
body {
  margin: 0 auto;
  padding: 0 40px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color:#000000;
  height: 100%;
  background: #F2F2F2;
}
.main-container{
  flex-grow: 1;
}
.navigation{
  display: flex;
  width: 1060px;
  margin: 0 auto;
}
.page-header-logo{
  margin-right: 30px;
  width: 140px;
}
.navigation-list{
  margin:0;
  padding: 0;
  width: 550px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.navigation-user{
  max-width: 350px;
  margin-left: auto;
  list-style-type: none;
  display: flex;
  margin: 0 auto;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 0;
}
.page-container{
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  text-align: center;
  background-color: #FFFFFF  ;
}
.navigation-item{
  list-style-type: none;
}
.navigation-link{
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color:#000000;
  text-decoration: none;
  padding: 20px 16px;

}
.navigation-link-button{
  color:#FFFFFF;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: block;
  width: 160px;
  padding: 8px 34px;
  border-radius: 4px;
}
.hero{
  display: block;
  margin: 0 auto;
  background-image:  url("/images/zip.svg"), url("/images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat, no-repeat;
  background-position: right bottom, left top;
  background-color: #82B3D3;
  padding-top: 51px;
  padding-bottom: 82px;
}
.advantages-main{
  padding-top: 69px;
  padding-bottom: 69px;
  width: 651px;
  margin: 0 auto;
}
.advantages-main-title{
  margin:0;
  padding-bottom: 25px;
}
.advantages-main-description{
  margin: 0;
}
.advantages-list{
  margin:0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
 }
.advantages-item {
  font-weight: 400;
  text-transform: none;
  list-style-type: none;
  width: 400px;
  min-height: 385px;
  margin: 0 auto;
}
.advantages-item-image{
  width: 800px;
}
.advantages h2{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.advantages-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  padding-top: 102px;
  width: 175px;
  margin: 0 auto;
  padding-bottom: 62px;
}
.advantages-description{
  padding-bottom: 102px;
  width: 230px;
  margin: 0 auto;
}
.advice-container{
  padding-top: 64px;
  padding-bottom: 64px;
}
.advice-title{
  width: 505px;
  margin: 0 auto;
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.advice-description{
  width: 490px;
  margin: 0 auto;
  font-size: 22px;
  line-height: 26px;
}
.advice-list{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.advice-item{
  list-style-type: none;
  width: 400px;
  min-height: 385px;
}
.advice-item-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  list-style-type: none;
  padding-bottom: 30px;
  margin: 0;
}
.advice-item-image{
  padding-top: 81px;
  padding-bottom: 30px;
}
.advice-item-description{
  width: 230px;
  margin: 0 auto;
  padding-bottom: 81px;

}
.searching-form-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;

  padding-bottom: 20px;
}
.searching-form-description{
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding-bottom: 54px;
}
.newsletter{
  background-image: url("/images/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #82B3D3;
  width: 1200px;
  color: #FFFFFF;
  margin: 0 auto;
}
.newsletter-container{
  width: 684px;
  margin: 0 auto;
  padding-bottom: 104px;
  padding-top: 96px;
}
.newsletter-form{
  width: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.field{
  box-sizing: border-box;
  width: 452px;
  background: #F2F2F2;
  border-radius: 4px 0 0 4px;
  align-items: center;
  padding: 14px 20px;
  line-height: 24px;
  border: 0;
}
.page-title{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  padding-bottom: 20px;
  margin:0;
 }
.newsletter-description{
  font-size: 22px;
  line-height: 26px;
  text-transform: none;
  width: 475px;
  margin: 0 auto;
  padding-bottom: 54px;
}
.footer-contacs-phone a{
  font-size: 40px;
  line-height: 40px;
  color: #000000;
}
.filter-background{
  background-image: url("/images/filter-background.jpg");
  background-repeat: no-repeat;
  color: #FFFFFF;
  background-color: #82B3D3;
  padding-left: 70px;
 }
 .inner-header{
  margin:0;
  margin-right: auto;
  text-align: left;
 }
.inner-header-title{
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding-top: 35px;
}
.breadcrumbs{
  font-size: 16px;
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}
.breadcrumbs-item{
  list-style-type: none;
  margin-right: 28px;
}
.hotel-filter-group{
  margin:0;
  padding: 0;
  margin-right: 70px;
  text-align: left;
}
.hotel-filter-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.hotel-filter-list{
  margin-bottom: 73px;
}
.hotel-filter-item{
  list-style-type: none;
  line-height: 23px;
  margin-bottom: 16px;

}
.filter-button{
  display: flex;
  flex-direction: column;
}
.hotel-search{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.button{
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
}
.hotel-card-button{
  color:#FFFFFF;
  background: #756157;
  text-decoration: none;
  padding: 8px 26px;
  align-self: center;
}
.rating{
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background: #F2F2F2;
  margin: 0;
  border-radius: 4px;
  padding: 9px 23px 8px 22px;
  align-self: center;
}
.pagination{
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  list-style: none;
  display: flex;
  margin-left: 70px;
  padding: 0;
}
.pagination-item:not(:last-child) {
  margin-right: 8px;
}
.pagination-link{
  border-radius: 4px;
}
.newsletter-button{
  background: #82B3D3;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  padding: 8px 50px;
  border-radius: 0 4px 4px 0;
}
.light-blue{
  background:rgba(131, 179, 211, 0.12);
}
.medium-blue{
  background: rgba(131, 179, 211, 0.2);
}
.blue{
  background: #82B3D3;
  color: #FFFFFF;
}
.footer-social{
  width: 350px;
  margin: 0;
  padding:0;
 }
 .footer-social-list{
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  margin-top: 45px;
  margin-bottom: 35px;
  padding: 0 10px;
}
.footer-social-item{
  list-style-type: none;
  padding: 12px 13px;
}

.button-apply{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background: #82B3D3;
  color: #FFFFFF;
  margin-bottom: 32px;
  padding: 8px 50px;
}
.button-reset{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 8px 50px;
  background-color: rgba(131, 179, 211, 0);
}
.hotel-card-link{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}
.hotel-list{
  display: grid;
  grid-template-columns: repeat(3, 340px);
  padding: 0;
  gap: 20px;
  margin: 0 80px 70px 70px;
}
.hotel-item{
  list-style-type: none;
  width: 300px;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}
.hotel-card-image{
  margin-bottom: 16px;
}
.hotel-card{
  margin: 0;
  text-align: left;
}
.hotel-card-price{
  margin: 0;
  text-align: right;

}
.hotel-card-title{
  margin: 0;
  text-align: left;
  margin-bottom: 16px;
}
.hotel-properties{
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 16px 20px;
}
.button-favorite{
  background: #82B3D3;
  align-self: center;
  padding: 8px 20px;
}
.pagination-link{
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background: #82B3D3;
  color:#FFFFFF;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  min-width: 35px;
 }
 .pagination-next{
  font-size: 22px;
  line-height: 26px;
  color:#000000;
  background-color: #FFFFFF;
}
.footer-contacts-address-phone{
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.hotel-stars {
  height: 18px;
  background-image: url("/images/icons/star.svg");
  background-repeat: space;
  align-self: center;
}
.hotel-stars-1 {
  width: 20px;
}
.hotel-stars-2 {
  width: 39px;
}
.hotel-stars-3 {
  width: 61px;
}
.hotel-stars-4 {
  width: 83px;
}
.hotel-stars-5 {
  width: 106px;
}
.page-footer{
  display: flex;
  width: 1060px;
  margin: 0 auto;
}
.footer-contacs-phone{
  width: 335px;
  align-self: center;
}
.html-academy{
  display: block;
  width: 150px;
  margin: 0 auto;
  align-self: center;
}
.newsletter-catalog{
  background: #FFFFFF;
  color: #000000;
}
.hotel-filter{
  display: flex;
  margin-left: 70px;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  outline: none;
}
.sorting{
  display: flex;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 50px;
  align-items: center;
  margin-bottom: 40px;
  justify-content: space-between
}
.hotel-search-result{
  margin-right: 120px;
}
.select-control{
  margin-right: 70px;
  padding: 14px 131px 14px 20px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}
.button-sorting{
  display: inline-block;
  padding: 17px 16px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}
.button-sorting-curent{
  border: 2px solid #000000;
}
.button-sorting:not(:last-child) {
  margin-right: 8px;
}
.searching-form{
  width: 592px;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 96px;
}
.searching-button{
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  width: 276px;
  padding: 8px 50px;
  color:#FFFFFF;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
 }
