@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
html{
  height: 100%;
}
body {
  margin: 0 auto;
  padding: 0 40px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color:#000000;
  height: 100%;
  background: #F2F2F2;
}
.main-container{
  flex-grow: 1;
}
.navigation{
  display: flex;
  width: 1060px;
  margin: 0 auto;
}
.navigation-list{
  margin:0;
  padding: 0;
  width: 380px;
}
.navigation-user{
  max-width: 200px;
  margin-left: auto;
}
.page-container{
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  text-align: center;
  background-color: #FFFFFF  ;
}
.navigation-item{
  list-style-type: none;
}
.navigation-link{
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color:#000000;
  text-decoration: none;
}
.navigation-link-button{
  color:#FFFFFF;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: block;
  width: 160px;
  height: 36px;
}
.hero{
  display: block;
  margin: 0 auto;
  background-image:  url("/images/zip.svg"), url("/images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat, no-repeat;
  background-position: right bottom, left top;
  background-color: #82B3D3;
}
.advantages-list{
  margin:0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
 }
.advantages-item {
  font-weight: 400;
  text-transform: none;
  list-style-type: none;
  width: 400px;
  height: 385px;
}
.advantages-item-image{
  width: 800px;
}
.advantages h2{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.advantages-item h3{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.advice-list{
  display: flex;
  padding: 0;
  margin: 0;
}
.advice-item{
  list-style-type: none;
  width: 400px;
  height: 385px;
}
.advice-item h3{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  list-style-type: none;
}
.advice h2{
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.searching-form h2{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.searching-form p{
  font-size: 22px;
  line-height: 26px;
}
.newsletter{
  background-image: url("/images/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #82B3D3;
  width: 1200px;
  color: #FFFFFF;
}
.page-title{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
 }
.newsletter p{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-transform: none;
}
.footer-contacs-phone a{
  font-size: 40px;
  line-height: 40px;
  color: #000000;
}
.filter-background{
  background-image: url("/images/filter-background.jpg");
  background-repeat: no-repeat;
  color: #FFFFFF;
  background-color: #82B3D3;
 }
.inner-header-title{
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}
.breadcrumbs{
   font-size: 16px;
  line-height: 21px;
}
.hotel-filter-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.hotel-filter-item{
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}
.hotel-search{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.button{
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
}
.hotel-card-button{
  color:#FFFFFF;
  background: #756157;
  text-decoration: none;
}
.rating{
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background: #F2F2F2;
}
.pagination{
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  list-style: none;
  display: flex;
  margin-left: 70px;
  padding: 0;
}
.newsletter-button{
  background: #82B3D3;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
}
.light-blue{
  background:rgba(131, 179, 211, 0.12);
}
.medium-blue{
  background: rgba(131, 179, 211, 0.2);
}
.blue{
  background: #82B3D3;
  color: #FFFFFF;
}
.footer-social-item{
  list-style-type: none;
}
.breadcrumbs-item{
  list-style-type: none;
}
.hotel-filter-item{
  list-style-type: none;
  line-height: 23px;
  }
.inner-header-title{
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}
.button-apply{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background: #82B3D3;
  color: #FFFFFF;
}
.button-reset{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.hotel-card-link{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}
.hotel-item{
  list-style-type: none;
  width: 300px;
  padding: 20px;
}
.button-favorite{
  background: #82B3D3;
}
.pagination-link{
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background: #82B3D3;
  color:#FFFFFF;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  min-width: 35px;
 }
 .pagination-next{
  font-size: 22px;
  line-height: 26px;
  color:#000000;
  background-color: #FFFFFF;
}
.footer-contacts-address-phone{
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.hotel-stars {
  height: 18px;
  background-image: url("/images/icons/star.svg");
  background-repeat: space;
}
.hotel-stars-1 {
  width: 20px;
}
.hotel-stars-2 {
  width: 39px;
}
.hotel-stars-3 {
  width: 61px;
}
.hotel-stars-4 {
  width: 83px;
}
.hotel-stars-5 {
  width: 106px;
}
.page-footer{
  display: flex;
  width: 1060px;
  margin: 0 auto;
}
.footer-contacs-phone{
  width: 720px;
  margin: auto auto;
}
.html-academy{
  display: block;
  margin: auto auto;
  margin-right: 0;
}
.newsletter-catalog{
  background: #FFFFFF;
  color: #000000;
}
.hotel-filter{
  display: flex;
  margin-left: 70px;
  align-items: flex-start;
  padding: 0;
  gap: 70px;
}
.sorting{
  display: flex;
  margin-left: 70px;
  margin-right: 70px;
}
.hotel-search-result{
  margin-right: 200px;
}
.select-control{
  margin-right: 70px;
}
.hotel-list{
  display: flex;
  flex-wrap: wrap;
  margin-left: 70px;
  margin-right: 70px;
  padding: 0;
  justify-content: space-between;
}
